<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.local.realtekcardreader</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/bin/kmutil</string>
		<string>load</string>
		<string>-p</string>
		<string>/Library/Extensions/RealtekCardReader.kext</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<false/>
	<key>StandardOutPath</key>
	<string>/var/log/cardreader.log</string>
	<key>StandardErrorPath</key>
	<string>/var/log/cardreader.log</string>
</dict>
</plist>
